<%= div_for comment do %>
    <p>
      <strong>Posted <%= time_ago_in_words(comment.created_at) %> ago</strong><br />
      <%= comment.body %>
      <% if current_user.email.to_s == comment.createdby.to_s then %>

          <%= link_to("Edit", {:controller => 'comments', :action => 'edit', :id => comment.id}, :class => 'action edit') %>
          <%# link_to("Destroy",{:controller => 'comments', :action => 'delete', :id => comment.id}, :class => 'action delete') %>
          <%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </p>
<% end %>