	<table summary="New Comment">
		<tr>New Comment</tr>
		<tr>
			<td><%= form_for(:comment, :url => {:controller => 'comments', :action => 'create'}, :postid => @post.id, :remote => true)do |f| %>
					<%= f.hidden_field :post_id, :value => @post.id %>
					<%= f.text_area :body, :required => true %><br /><br />
                    <%= f.hidden_field :createdby, :value => current_user.email %>

				<div class="form-buttons">
					<%= submit_tag "Add Comment", :id=> "submitcomment" %>
				</div>
				<% end %>
			</td>
		</tr>
	</table>

    <!--, :remote => true-->