<p id="notice"><%= notice %></p>

<h1>Listing Comments</h1>

<!-- <strong>Note: </strong> Only your comments are visible to you! -->


<br />
<br />
<br />
<table>
  <thead>
    <tr>
      <th>Post</th>
      <th>Body</th>
      <th>Created By</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.post_id %></td>
        <td><%= comment.body %></td>
        <td><%= comment.createdby %></td>
        <% if current_user.email.to_s == comment.createdby.to_s then %>
        <td><%= link_to 'Show', comment %></td>
        <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
        <td><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%# link_to 'New Comment', new_comment_path %>
<%= link_to '<< Go to Posts', posts_path %>
