<%# link_to("<< Back to Posts", {:controller => 'posts', :action => 'index'}, :class => 'back-link') %>


<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>

<br>
<br>

<h2>Comments</h2>
    <div id="commentsection">
      <%= render :partial => @post.comments.reverse %>
    </div>


<% if false %>
    <%# This code will not execute. "if false" is same as commenting the code. %>
    <% if !flash[:notice].blank? %>
            <div class="notice">
              <%= flash[:notice] %>
            </div>
        <% end %>
    <div id="commentsection">
      <% @comments.reverse_order.each do |comment| %>
          <%= div_for comment do %>
              <b>Posted <%= if ((Time.zone.now.localtime - comment.updated_at.localtime)/3600).round > 0 then
                              pluralize(((Time.zone.now.localtime - comment.updated_at.localtime)/3600).round, 'hour')
                            else
                              pluralize(((Time.zone.now.localtime - comment.updated_at.localtime)/60).round, 'minute')
                            end	%> ago</b> <br>
              <%= comment.body %>
              <% if current_user.email.to_s == comment.createdby.to_s then %>

                  <%= link_to("Edit", {:controller => 'comments', :action => 'edit', :id => comment.id}, :class => 'action edit') %>
                  <%# link_to("Destroy",{:controller => 'comments', :action => 'delete', :id => comment.id}, :class => 'action delete') %>
                  <%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %>
              <% end %>
          <% end %>
          <br><br>
      <% end %>
    </div>
<% end %>

	<br />


<%= render 'comments/newcommentunderpost', review: Comment.new(post_id: @post.id) %>
